* {
    padding: 0%;
    margin: 0%;
    
}
body{

    background-color: #fafeff   ;
}
.index{
    background-color:#0A001B;
    display: block;
}
.pc{
    width: 400px;
    height: 400px;
    position: relative;
    left: 1000px;
    top: 100px;
}
.bienvenido{
    margin-left: 120px;
    color: #fafeff;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: -20px;
    top: 200px;
    font-size: 60px;
}

.description{
    color: #fafeff;
    text-align:justify;
    margin-left: 200px;
    margin-top: 100px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    top: 200px;
    left: -100px;
    font-size: 19px;
    
}

svg{
    display: block;
}

.reus{
    color: #0A001B;
    font-size: 19px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align:justify;
    position:relative ;
    top: -30px;
    left: 300px;
    font-size: 30px;
}

.front, .back {  
    display: flex;
    gap: 70px;
    justify-content: center; 
    margin: 50px 0; 
}


.skill-box {
    background-color: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 10px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px; 
    height: 220px; 
    position: relative; 
    overflow: hidden; 
}

.skill-box img {
    width: 100%; 
    height: auto; 
    max-height: 100%; 
    position: static; 
    z-index: 1;
}

.skill-box:hover {
    transform: scale(1.1); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.footer{
    position: relative;
    display: grid;
    a{
        text-decoration: none;
        color: #0A001B;
    }
}

.futer {
    display: block;
    position: relative;
    background-position: bottom; /* coloca la ola abajo */
    height: 100%;  /* altura de la sección */
    width: 100%;
    z-index: 0;
}

.Github{
    position: relative;
    color: #0A001B;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
.Linkedin{
    color: #0A001B;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.Linkedin img, .Github img{
    width: 50px;
    height: 50px;
}





